<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Jack Dean</h3>
</div>

<div class="jumbotron">
  <h1>Jack of All Trades, Master at None</h1>
  <p class="lead">
    <img src="images/latin_for_daggers.jpg" alt="Latin For Daggers, Stone Fort" id="mainimg"><br>
    Out of the corporate world exploring and as much as I can
  </p>
  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
  <form action="http://jackpdean.us8.list-manage1.com/subscribe/post?u=fb230713077932003d78ec15c&amp;id=8ec6211037" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Enter Your Email for Updates</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fb230713077932003d78ec15c_8ec6211037" tabindex="-1" value=""></div>
    <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success">Keep Me Updated <span class="glyphicon glyphicon-ok"></span></button></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>

<div class="row marketing">
  <h2>Full Website is Coming Soon!</h2>
  <p>
    I'm in the process of learning web development, and as the title above indicates I know some of a few things. In the meantime, check out some other stuff about me:
  </p>

  <a class="twitter-timeline" href="https://twitter.com/jackp_dean" data-widget-id="472201063445966848">Tweets by @jackp_dean</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




  <h4>Projects</h4>
    <p>I'll be adding a ton more info so stay tuned!</p>
  <ul>
    <li><a href="http://www.energ.io">Energ.io: Co-Founder</a></li>
    <li><a href="http://www.clearestimates.com">Clear Estimates: Growth Hacker</a></li>
    <li><a href="http://www.dollarledclub.com">Dollar LED Club: Just a Project</a></li>
    <li><a href="http://jpdean123.github.io/sonder">Sonder: Just for Fun!</a></li>
    <li>Sustainable Brewing: You Know Why</li>
  </ul>
</div>

<div class="footer">
  <p>@jackp_dean</p>
  <p>jpdean333@gmail.com</p>
  <p>I have changed almost nothing from the Yeoman Angular Generator, <a href="https://github.com/yeoman/generator-angular">Check It Out on GitHub!</a></p>
</div>
